<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">

    <title>Create CV</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="templates/digitalcv/css/cv.css" rel="stylesheet"> -->

    <style>
    body {
        padding-top: 70px;
    }
    </style>

</head>

<body ng-app="myApp">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="headerController">
        <div class="container" ng-include="template"></div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row clearfix" ng-view></div>
    </div>
    <!-- /.container -->

    <footer ng-controller="footerController">
        <div class="container" ng-include="templatefooter"></div>
    </footer>

    <!-- jQuery Version 1.11.1 -->
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/ui-bootstrap-custom-tpls-0.12.0.js"></script>
    <script src="javascripts/ui-bootstrap-custom-0.12.0.js"></script>
    <script src="javascripts/angular-route.js"></script>
    <script src="javascripts/angular-touch.js"></script>
    <script src="javascripts/angular-messages.js"></script>
    <script src="javascripts/angular-file-upload.js"></script>
    <script src="javascripts/angular-load.js"></script>
    <script src="javascripts/angular-cookie.js"></script>
    <script src="services/validator.unique.js"></script>
    <script src="services/common.data.user.js"></script>
    <script src="modules/main.client.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="javascripts/vcv.min.js"></script> -->

    <!-- Alert Message -->
    <script type="text/ng-template" id="common-error-message">
        <span ng-message="required">This field is required</span>
        <span ng-message="minlength">This field is too short</span>
        <span ng-message="maxlength">This field is too long</span>
    </script>
    

</body>

</html>
