<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Registration confirmation</h2>
<div><p>your username = <span><%= username %></span></p></div>
<div><p>your password = <span><%= password %></span></p></div>
</body>
</html>