<div id="page-wrap" class="form-panel wrap-editor">
    
    <img ng-src="{{data.avatar}}" width="10%" height="14%" alt="Photo of Cthulu" id="pic" />

    <div id="contact-info" class="vcard">
    
        <!-- Microformats! -->
    
        <h1 class="fn" editing ng-model="data.fullname">{{data.fullname || 'Nothing'}}</h1>
    
        <p>
            Cell: <span class="tel" editing ng-model="data.phone">{{data.phone || 'Nothing'}}</span><br />
            Email: <a class="email" href="" editing ng-model="data.email">{{data.email || 'Nothing'}}</a>
        </p>
    </div>
            
    <div id="objective">
        <p editing ng-model="data.objective">
            {{ data.objective || 'Please insert your objective here' }}
        </p>
    </div>
    
    <div class="clear"></div>
    
    <dl>
        <dd class="clear"></dd>
        <div class="column">
            <div >
                <dt>Education</dt>
                <dd>
                    <div ng-repeat="education in data.educations">
                        <h2 editing ng-model="education.name">{{ education.name || 'Nothing' }}</h2>
                        <p><strong>Degree:</strong><span editing ng-model="education.degree">{{ education.degree || 'Nothing' }}</span><br />
                           <strong>Major:</strong><span editing ng-model="education.major">{{ education.major || 'Nothing' }}</span></p>
                    </div>
                </dd>
            </div>
        </div>
        
        <dd class="clear"></dd>
        <div class="column">
            <dt>Skills</dt>
            <dd>
                <div ng-repeat="skill in data.skills">                
                <p><strong editing ng-model="skill.name">{{ skill.name || 'Untittle' }}: </strong><span editing ng-model="skill.level">{{ skill.level || 'Undefined' }}</span></p>                       
                </div>                           
            </dd>
        </div>
        
        <dd class="clear"></dd>
        <div class="column">
            <dt>Experience</dt>
            <dd>
                <div ng-repeat="experience in data.experiences">
                    <h2 editing ng-model="experience.company_name">{{ experience.company_name || 'Company name here' }}</h2>
                    <p><strong>Position:</strong><span editing ng-model="experience.position">{{ experience.position || 'Position' }}</span><br />
                       <strong>From:</strong><span editing ng-model="experience.start_date">{{ experience.start_date || 'Nothing' }}</span></p>
                </div>
            </dd>
        </div>
        
        <dd class="clear"></dd>                        
        <div class="column">
            <dt>Portfolios</dt>
            <dd>
                <div ng-repeat="portfolio in data.portfolios">
                    <h2 editing ng-model="portfolio.title">{{ portfolio.title || 'Portfolio name' }}</h2>
                    <p><span editing ng-model="portfolio.description">{{ portfolio.description || 'Description' }}</span></p>
                </div>
            </dd>
        </div>

        <dd class="clear"></dd>                        
        <div class="column" ng-if="prestations.length > 0">
            <dt>Prestations</dt>
            <dd>
                <div ng-repeat="prestation in data.prestations">
                    <h2 editing ng-model="portfolio.title">{{ prestation.title || 'Prestation Title' }}</h2>
                    <p><span editing ng-model="portfolio.description">{{ prestation.description || 'Description' }}</span></p>
                </div>
            </dd>
        </div>

        <dd class="clear"></dd>                        
        <div class="column" ng-if="socials.length > 0">
            <dt>Social Activities</dt>
            <dd>
                <div ng-repeat="social in data.socials">
                    <h2 editing ng-model="portfolio.title">{{ social.title || 'Activity Name' }}</h2>
                    <p><span editing ng-model="portfolio.description">{{ social.description || 'Description' }}</span></p>
                </div>
            </dd>
        </div>

        <dd class="clear"></dd>                        
        <div class="column" ng-if="certifications.length > 0">
            <dt>Certifications</dt>
            <dd>
                <div ng-repeat="certificate in data.certifications">
                    <h2 editing ng-model="portfolio.title">{{ cartificate.title || 'Cartificate name' }}</h2>
                    <p><span editing ng-model="portfolio.description">{{ cartificate.description || 'Description' }}</span></p>
                </div>
            </dd>
        </div>
    </dl>
    
    <div class="clear"></div>

</div>

<div id="footer" class="form-panel">
    <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="generatePdf()">Generate PDF</button>
    </div>
</div>