
<div class="col-md-12 column">
	<tabset justified="true">
	    <tab heading="Personal Info">
	    	<div style="padding-top:30px">
		    	<form class="form-horizontal" role="form">
		    		<div class="col-md-12 column">
		    			<center  >		    				
	    					<img ng-src="{{getAvatar()}}" class="img-rounded" width="150" height="150" style="margin-bottom:10px">
			    			<input type="file" ng-file-select ng-file-change="upload($files)" style="margin-bottom:40px">
		    			</center>
		    		</div>
		    		<div class="form-group">
						 <label for="inputFullname" class="col-sm-2 control-label">Full Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputFullname">
						</div>
					</div>
					<div class="form-group">
						 <label for="inputEmail" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail">
						</div>
					</div>
					<div class="form-group">
						 <label for="inputAddress" class="col-sm-2 control-label">Address</label>
						<div class="col-sm-10">
							<textarea class="form-control" id="inputAddress" rows="3"></textarea>
						</div>
					</div>				
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							 <button type="button" class="btn btn-default">Next</button>
						</div>
					</div>
				</form>
			</div>	    	
	    </tab>
	    <tab heading="Education">
	    	<div style="padding-top:30px">
		    	<form class="form-horizontal" role="form">
		    		<div>
						<div class="form-group">
							 <label for="inputUniversity" class="col-sm-2 control-label">Name Of University</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputUniversity">
							</div>
						</div>
						<div class="form-group">
							 <label for="inputDegree" class="col-sm-2 control-label">Degree</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="inputDegree">
							</div>
						</div>
					</div>					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							 <button type="button" class="btn btn-default">+</button>
							 <button type="button" class="btn btn-default">Next</button>
						</div>						
					</div>
				</form>
			</div>
	    </tab>
	    <tab heading="Experiences">
	    	<div style="padding-top:30px">
		    	<form class="form-horizontal" role="form">
		    		<div>
						<div class="form-group">
							 <label for="inputCompany" class="col-sm-2 control-label">Company Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputCompany">
							</div>
						</div>
						<div class="form-group">
							 <label for="inputDegree" class="col-sm-2 control-label">Degree</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="inputDegree">
							</div>
						</div>
					</div>					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							 <button type="button" class="btn btn-default">+</button>
							 <button type="button" class="btn btn-default">Next</button>
						</div>						
					</div>
				</form>
			</div>
	    </tab>
	</tabset>	
</div>
