<div class="col-lg-12">
    <div class="form-panel">
    <h3><i class="fa fa-angle-right"></i>Choose CV Template</h3>
    <hr>
    <div class="row mt">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc" ng-click="setTemplate()">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port04.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port04.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port05.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port05.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port06.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port06.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
    </div><!-- /row -->

    <div class="row mt">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port01.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port01.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port02.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port02.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port03.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port03.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
    </div><!-- /row -->

    <div class="row mt mb">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port04.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port04.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port05.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port05.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="images/dashgum/portfolio/port06.jpg"><img class="img-responsive" src="images/dashgum/portfolio/port06.jpg" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-4 -->
    </div><!-- /row -->
</div>
</div>